.container {
  --spacing-gap-md: 1rem;
  --border-radius-md: 0.5rem;

  display: grid;
  gap: var(--spacing-gap-md);
}

.titleImage {
  border-radius: 1.25rem;
  width: 300px;
  height: auto;
}

/* chat component style */

.chatResponse {
  display: grid;
  gap: 0.75rem;

  & .chatItem {
    display: grid;
    gap: var(--spacing-gap-md);
    padding: 1rem;
    border-radius: var(--border-radius-md);
    background-color: var(--accent);
    color: var(--foreground);
  }

  & pre {
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius-md);
    background-color: var(--accent);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid var(--accent);
  }
}

.resTitle {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--foreground);
  opacity: 0.8;
  text-transform: uppercase;
}

.throbber {
  color: var(--foreground);
}

/* button style */

.clearButton {
  justify-self: center;
}

/* form style */

.user-prompt {
  cursor: pointer;
  transition: background-color 0.25s 0.25s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.chatForm {
  display: grid;
  gap: var(--spacing-gap-md);

  & textarea {
    max-width: 100%;
    min-height: calc(2 * 1.2em);
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--accent);
    color: var(--foreground);
    resize: none;
    field-sizing: content;
  }

  & textarea:not(:placeholder-shown):valid {
    outline: 1px solid var(--clr-sucess);
  }

  & textarea:not(:placeholder-shown):invalid {
    outline: 1px solid var(--clr-error);
  }

  &textarea:focus:invalid {
    outline: 1px solid var(--clr-warning);
  }

  & > button {
    justify-self: end;
  }
}

.formGroup {
  display: grid;
}
