#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1280px;
  padding: 2rem;
}

/* for form labels accessibility */
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.form__textarea {
  width: 100%;
  max-width: 800px;
  height: 10rem;
}

.form__button {
  margin-top: 1rem;
  padding: 0.5rem 4rem;
  height: 3rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.form__button:hover {
  background-color: #2980b9;
}

.result__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.result__container {
  width: 100%;
  margin: 0;
}
.result__prompt {
  font-size: 1rem;
  font-weight: 400;
  background-color: #ffffff10;
  padding: 1rem 2rem;
}

.result__response {
  background-color: #ffffff08;
  padding: 1rem 2rem;
}
.result__text {
  margin: 0;
  text-align: left;
  white-space: pre-wrap;
}

.result__info-text {
  font-size: 10px;
  color: gray;
  text-align: right;
}
